@media(max-width: 750px){
    h1 {
        text-align: center;
        padding-top: 10%;
    }
    
    main {
        padding: none;
        margin: 0;
    }
    .anime {
        padding-left: 1%;
    }
    .naruto{
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
    }

    .cartao-naruto{
        max-width: 30vh;
    }

    .cartao-naruto .cartao-informacoes{
        padding: 60px 30px 30px;
        margin-top: -50px;
    }

    .cartao-naruto .cartao-informacoes h3{
        font-size: 16px;
    }

    .listagem{
        max-width: 360px;
        display: grid;
        text-align: center;
        justify-content: center;
    }

    .listagem .naruto{
        justify-content: center;
        width: 20vh;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-bottom: 0;
        border-radius: 8px;
    }

    .listagem ul{
        display: grid;
        justify-content: center;
        flex-wrap: wrap;
        gap: 8px;
    }

}